@model IEnumerable<ReactJS.Sample.Models.CommentModel>
@{
    this.ViewBag.Title = "ReactJS Sample";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="http://reactjs.net/getting-started/tutorial.html">ReactJS.Net - Getting Started - Tutorial</a>
<div id="content"></div>
@Html.React("CommentBox", new
{
    initialData = this.Model,
    url = "/api/comments",
    submitUrl = "/api/comments",
    pollInterval = 2000,
})